body {
  background-image: url("../images/gallery/john-arano.jpg");
  background-color: rgba(0, 0, 0, 0.567);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

main {
  width: 95vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60vh;
  width: 50vw;
  align-items: center;
  background-color: white;
  gap: 20px;
}

.section h1 {
  font-weight: lighter;
  font-size: 42px;
}

.section p {
  width: 34vw;
  color: rgba(11, 11, 34, 0.688);
}

form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

input {
  padding: 15px;
  width: 32vw;
  border: 1px solid rgb(203, 213, 222);
  outline: none;
  border-radius: 6px;
}

#email:focus {
  border: 3px solid rgb(32, 21, 255);
  transition: border 0.3s ease-in-out;
}

.submit-btn {
  color: white;
  background-color: rgb(32, 21, 255);
  border: 1px solid rgb(32, 21, 255);
  text-align: center;
  width: 20vw;
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
}

.submit-btn:active {
  background-color: rgb(1, 1, 90);
}
