body{
    background-image: url("../images/gallery/john-arano.jpg");
    background-color: rgba(0, 0, 0, 0.567);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
main {
    width: 95vw;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 30vw;
    background-color: white;
    display:flex;
    flex-direction: column;
}